.jumbotron {
    background-color: goldenrod;
    color: white;
    text-align: center;
}

.txt {
    text-align: center;
    padding: 20px;
    margin: 5px;
    color: white;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
}

.txt-sub {
    padding: 10px;
    margin: 10px;
    background-color: aqua;
    color: #fff;
    border-radius: 5px;
}

.das {
    background-color: aqua;
    width: 100%;
    height: auto;
    padding: 10px;
}
